# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
backend/venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Python Cache
.pytest_cache/
.mypy_cache/

# Uploads
backend/app/uploads/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Qdrant Local Database
backend/qdrant_data/
*.lock